*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.change_password{

    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change_password_card{
    width: 80%;
    height: auto;
    background: #fff;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
}

.change_password_heading{
    font-weight: 700;
    font-size: 18px; 
    font-family: roboto,sans-serif;
}
.change_password_heading p{
    font-size: 18px;
    font-weight: 700;
}
.change_password_para p{
    color: rgb(187, 185, 185);
}
.change_password_label{
margin-top: 10px;


}
.change_password_label p{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    width: 200px;
    height: 40px;
    background:rgb(55, 142, 241);
    color: white;
   align-items: center;
   justify-content: center;
   box-shadow: 2px 2px rgb(240, 42, 69);
}
.select_password_type_info{
    display: flex;
}
.select_password_type_info p{
    margin-right: 10px;
}
.password_radio_select{
    display: block;
}
.fx_pin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
/* .newpassword{
    display: flex;
} */
.newpassword label{
    margin-right: 10px;
}
.change_password_submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.change_password_submit button{
    margin-top: 20px;
    font-weight: 600;
}
/* media query */

@media only screen and (max-width: 767px){

    .change_password_para{
        font-size: 14px;
    }
    .change_password_label p{
        font-size: 14px;
        width: 160px;
        height: 30px;
    }
    
}
@media only screen and (max-width: 577px){
    .select_password_type_info{
        display: block;
    }
    .fx_pin{
        display: block;
    }
    .newpassword{
        display: block;
    }
}