.card1-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card1{
    width: 300px;
    height: 100px;
    background: #3b03d8;
    color: #fff;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: -10px 10px 10px rgba(154, 154, 155, 0.3);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc; 
}
.subscription-card {
    display: flex;
    justify-content: center;
}
.wallet{
    display: flex;
    justify-content: center;
}

.trading_chart{
    display: flex;
    justify-content: center;
}
.trading_chart_view{
    display: flex;
    justify-content: center;
}
.live-chat,.my-team,.my-team-view{
    display: flex;
    justify-content: center;
}
.live-chat-join,.Withdrawal,.total-trade-small-card,.todays-trade-small-card,.create-wallet{
    display: flex;
    justify-content: center;
}
/* .Withdrawal{
    display: flex;
    justify-content: center;
} */
.money-box{
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: green;
    color: #fff;
    margin-right: 10px;
    border: 2px solid #735fa8;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}