
/* .forex-ticker{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height:80px;
    border-radius: 10px;
    background-image:-webkit-linear-gradient(rgb(250, 21, 250),rgb(75, 4, 240));
} */
