*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    display: flex;
    width: 100%;
    height: auto;
    background: rgb(243,245,254);

}
.user_content_container{
    margin-left: 2px;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    overflow: scroll;
}
.user_content_container::-webkit-scrollbar{
    display: none;
}
.user_sideBar{
    display: block;
}
/* media query */
/* @media only screen and (max-width: 768px){
    .user_content_container{
        align-items: flex-start;
        justify-content: start;
    }   
} */