.userLogin-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93vh;
    background-color:rgb(240,239,240);
}
.userLogin-body{
    width: 35%;
    height: 60%;
    border-radius: 20px;
    padding: 15px;
    background: #fff;
    overflow: scroll;
    padding: 0 25px 0 25px;
    font-family: Calibri;
}
.userLogin-body p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(151, 150, 149);
}
.userid-section label{
    color: blueviolet;
    font-weight: 700;
}
.password-section label{
    color: blueviolet;
    font-weight: 700;
}
.signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin-button Button{
    margin-top: 20px;
    background:#5e72e4;
}
.custom-placeholder-userid ::placeholder{
    color:#5e72e4;
}
.custom-placeholder-password ::placeholder {
    color:#5e72e4; /* Replace with your desired color */
  }
  .home-signup  {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  /* media query */
  @media only screen and (min-width: 769px) and (max-width:1024px){
    .userLogin-body{
        width: 50%
    }    
}
  @media only screen and (min-width: 576px) and (max-width:768px){
    .userLogin-body{
        width: 60%
    }    
}
  @media only screen and (max-width: 576px){
    .userLogin-body{
        width: 90%;
        height: 60%;
    }
  }