*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.withdraw_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:80vh;
   
}
.withdraw_card{
    width: 900px;
    height: 80vh;
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    overflow-y:scroll ;
   margin-top: 20px;
   
}
.withdraw_heading h5{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
}
.withdraw_account_type {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 15px;
    overflow-x: scroll;
}
.withdraw_coin_card{
    width: 220px;
    height: 60px;
    background: #f6f6f6;
    border: 1px solid rgb(184, 183, 183);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
